plot/*.png
plot/*.pdf
plot/*.eps
plot/*.gif
*.zip
*.pdf
*.eps
*.rndm
.sconsign.dblite
*.log
*.pyc
*.o
*.os
*.d
*.a
*.dylib
pylib/scratch.py
tmp/*
!tmp/.emptyfile
bin/*
!bin/.emptyfile
.DS_Store
plot/scratch.py
